<style>
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200,200,200);
    }

    td, th {
        border: 1px solid rgb(190,190,190);
        padding: 10px 20px;
    }

    th {
        background-color: rgb(235,235,235);
    }

    td {
    }

    tr:nth-child(even) td {
        background-color: rgb(250,250,250);
    }

    tr:nth-child(odd) td {
        background-color: rgb(245,245,245);
    }

    caption {
        padding: 10px;
    }
</style>

<link
    rel="search"
    href="{{ opensearch_xml_path }}"
    title="{{ name }}"
    type="application/opensearchdescription+xml"
>

<table>
    {% for key, value in items %}
    <tr>
        <td><span><pre>{{key}}</pre></span></td>
        <td><span><pre>{{value}}</pre></span></td>
    </tr>
    {% endfor %}
</table>